<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatis-3-webapp:war exploded">
    <output-path>$PROJECT_DIR$/mybatis-3-webapp/target/mybatis-3-webapp</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>mybatis-3-webapp</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatis-3-webapp" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:8.0.29" />
          <element id="library" level="project" name="Maven: com.google.protobuf:protobuf-java:3.19.4" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.3.0" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-classic:1.1.1" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-core:1.1.1" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.6" />
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:3.1.0" />
          <element id="library" level="project" name="Maven: org.javassist:javassist:3.21.0-GA" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter:5.9.1" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-api:5.9.1" />
          <element id="library" level="project" name="Maven: org.opentest4j:opentest4j:1.2.0" />
          <element id="library" level="project" name="Maven: org.junit.platform:junit-platform-commons:1.9.1" />
          <element id="library" level="project" name="Maven: org.apiguardian:apiguardian-api:1.1.2" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-params:5.9.1" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-engine:5.9.1" />
          <element id="library" level="project" name="Maven: org.junit.platform:junit-platform-engine:1.9.1" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/mybatis-3-webapp/target/mybatis-3-webapp/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="mybatis-3-webapp/web/Web" />
    </root>
  </artifact>
</component>